<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <title th:text="${title}">Hello, world!</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <style>
        @import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');
    </style>
</head>
<body >


<header id="head">
    <img class="img" th:src="@{../image/logo1.png}" style="width: 150px"/>
    <a href="#" class="logo">Tax Calculator</a>
    <!--    <div class="search-box">-->
    <!--        <button class="btn-search"><i class="fas fa-search"></i></button>-->
    <!--        <input type="text" class="input-search" placeholder="Type to Search..."></div>-->

</header>


<nav>

    <ul>
        <div class="hamburgur-on"></div>
        <li><a href="home">Home</a></li>
        <li><a class="active" href="calculator">Personal-Calculator</a></li>
        <li><a href="CorporateCalculator">Corporate-Calculator</a></li>
        <!--        <li><a href="sec2">About</a></li>-->
    </ul>
</nav>
<div class="b">
    <div class="container1">
        <div class="column-1 box">
            <h1>Personal Income Tax Calculator.</h1>
            <form action="#" th:action="@{/save}" th:object="${taxForm}" method="post" >
                <div class="row">
                    <div class="col-half">
                        <h4 style="padding-top: 40px; padding-bottom: 10px">Marital Status</h4>
                        <div class="input-group">
                            <input id="marital1" type="radio" name="status" th:field="*{status}" value="Married"/>
                            <label for="marital1">Married</label>
                            <input id="marital2" type="radio" name="status" value="Unmarried"/>
                            <label for="marital2">Unmarried</label>
                        </div>
                    </div>
                    <div class="col-half">
                        <h4 style="padding-top: 40px; padding-bottom: 10px">Personal Details</h4>
                        <div class="input-group input-group-icon">
                            <input type="text" placeholder="Personal Name" name="PName"  required/>
                            <div class="input-icon"><i class="fa fa-building"></i></div>
                        </div>
                    </div>


                </div>


                <h4 style="padding-top: 40px; padding-bottom: 10px">Income</h4>
                <div class="row">
                    <div class="col-half">
                        <div class="input-group input-group-icon">
                            <input type="text" placeholder="Salary" name="salary"  required/>
                            <div class="input-icon"><i class="fa fa-user-plus"></i></div>
                        </div>
                    </div>
                    <div class="col-half">
                        <div class="input-group input-group-icon">
                            <input type="text" placeholder="Bonus" name="bonus"  required/>
                            <div class="input-icon"><i class="fa fa-plus-circle"></i></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-half">
                        <div class="input-group input-group-icon">
                            <input type="text" placeholder="Allowance" name="allowance"  required/>
                            <div class="input-icon"><i class="fa fa-envelope"></i></div>
                        </div>
                    </div>
                    <div class="col-half">
                        <div class="input-group input-group-icon">
                            <input type="text" placeholder="others" name="others"  required/>
                            <div class="input-icon"><i class="fa fa-star"></i></div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-half">
                        <h4 style="padding-top: 40px; padding-bottom: 10px">Time-Span</h4>
                        <div class="input-group" >

                            <select name="time" th:field="*{time}">
                                <option value=12>Yearly</option>
                                <option value=1>Monthly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4 style="padding-top: 40px; padding-bottom: 10px">Deduction</h4>
                    <div class="col-half">
                        <div class="input-group input-group-icon">
                            <input type="text" placeholder="Provident Fund" name="fund" required/>
                            <div class="input-icon"><i class="fa fa-user"></i></div>
                        </div>
                    </div>
                    <div class="col-half">
                        <div class="input-group input-group-icon">
                            <input type="text" placeholder="Citizen Investment Trust" name="CIT" required/>
                            <div class="input-icon"><i class="fa fa-key"></i></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-half">
                        <div class="input-group input-group-icon">
                            <input type="text" placeholder="Insurance" name="ins" required/>
                            <div class="input-icon"><i class="fa fa-key"></i></div>
                        </div>
                    </div>
                </div>

                <div class="align">
                    <div class="row">
                        <div class="col-half">
                            <div style="padding-top: 40px; padding-bottom: 10px" class="input-group">
                                <input type="submit" name="taxamnt" value="Submit"/>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>

<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>9876543210 0</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>mail@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="home"><img th:src="@{../image/logo1.png}" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">about</a></li>
                            <li><a href="#">services</a></li>
                            <li><a href="#">portfolio</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Expert Team</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2022, All Right Reserved <a href="#">Suraz</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--<section class="sec2">-->

<!--</section>-->
<!--<section class="sec3"></section>-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script th:src="@{/js/js.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>