<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/slider.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>This is home page.</title>
</head>
<body>
<section  class="sec1">



    <!--        <h1 class="head">"The hardest thing in the world to understand is the income tax."</h1>-->
    <!--        <div style="display: flex"><div class="devicer"> </div> <p class="einstein">Albert Einstein: </P>-->
    <!--            </div>-->
    <!--         <p>hello my name is suraj pandey. I am a bschons in computer science student at herald college.</p>-->
    <div id="slider">
        <ul>
            <li>
                <div class="slider-container">
                    <h4>― Robert A. Heinlein, The Moon Is a Harsh Mistress</h4>
                    <p>“There is no worse tyranny than to force a man to pay for what he does not want merely because you think it would be good for him.”</p>
                </div>
            </li>
            <li>
                <div class="slider-container">
                    <h4>― Winston S. Churchill</h4>
                    <p>“Death, taxes and childbirth! There's never any convenient time for any of them.”</p>
                </div>
            </li>
            <li>
                <div class="slider-container">
                    <h4>― Frédéric Bastiat</h4>
                    <p> “When plunder becomes a way of life for a group of men in a society, over the course of time they create for themselves a legal system that authorizes it and a moral code that glorifies it.”</p>
                </div>
            </li>
            <li>
                <div class="slider-container">
                    <h4>― Oliver Wendell Holmes Jr.</h4>
                    <p>“I like to pay taxes. With them, I buy civilization.”</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="bt">
        <a href="calculator" class="button4"><i class="fa fa-facebook"></i>Go to Calculator</a>
    </div>

    <!-- White Button -->
    <!--  Start Second Button  -->

    <!--  End Second Button  -->


</section>
<section class="sec2">
    <section class="section-team">
        <div class="containers">
            <!-- Start Header Section -->
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header-section">
                        <h3 class="small-title">Our Experts</h3>
                        <h2 class="title">Let's meet with our team members</h2>
                    </div>
                </div>
            </div>
            <!-- / End Header Section -->
            <div class="row">
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://i.ibb.co/G2CBWvb/person1.jpg" alt="">
                            <span class="icon">
								<i class="fab fa-html5"></i>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">John KC</h3>
                            <span class="speciality">Project Manager</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://scontent.fktm1-1.fna.fbcdn.net/v/t1.6435-9/119137363_4564230373617415_5767786684931388163_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=zrLB8ZWpg0gAX_3QeUC&_nc_ht=scontent.fktm1-1.fna&oh=00_AT8C-9w96XaSVSjU7gL5rLfZm8VsiP3SExhT-9PmbN8tUw&oe=62828292" alt="">
                            <span class="icon">
								<i class="fab fa-wordpress-simple"></i>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Gaurav Khakurel</h3>
                            <span class="speciality">Business Analyst</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://scontent.fktm1-2.fna.fbcdn.net/v/t39.30808-6/222119143_2477704829039660_2999493346129928457_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=174925&_nc_ohc=zpXbDg5bWyAAX-fCQh3&_nc_ht=scontent.fktm1-2.fna&oh=00_AT-VXHmvJDuANpng2RxztHwYpsfc0_Khnc3WjS0EQH3uTA&oe=6260618C" alt="">
                            <span class="icon">
								<i class="fab fa-angular"></i>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Suraj Pandey</h3>
                            <span class="speciality">Lead Developer</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->
                <!-- Start Single Person -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-person">
                        <div class="person-image">
                            <img src="https://scontent.fktm1-2.fna.fbcdn.net/v/t1.6435-9/88060749_1095376514135388_2931108922305544192_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=ad2b24&_nc_ohc=CtazwEx8yNQAX8kd5Ex&_nc_ht=scontent.fktm1-2.fna&oh=00_AT9e-hVZ-2ENveFlq1zAmcipsY-RKzbURCqei_9IUUMShA&oe=62815F78" alt="">
                            <span class="icon">
								<i class="fab fa-js"></i>
							</span>
                        </div>
                        <div class="person-info">
                            <h3 class="full-name">Kshitiz Baral</h3>
                            <span class="speciality">Developer</span>
                        </div>
                    </div>
                </div>
                <!-- / End Single Person -->
            </div>
        </div>
    </section>
</section>



<script th:src="@{/js/slider.js}"></script>
</body>
</html>