<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/slider.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>This is home page.</title>
</head>
<body>
<section  class="sec1">



    <!--        <h1 class="head">"The hardest thing in the world to understand is the income tax."</h1>-->
    <!--        <div style="display: flex"><div class="devicer"> </div> <p class="einstein">Albert Einstein: </P>-->
    <!--            </div>-->
    <!--         <p>hello my name is suraj pandey. I am a bschons in computer science student at herald college.</p>-->
    <div id="slider">
        <ul>
            <li>
                <div class="slider-container">
                    <h4>Pure CSS slider Content</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </div>
            </li>
            <li>
                <div class="slider-container">
                    <h4>Pure CSS slider Content</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </div>
            </li>
            <li>
                <div class="slider-container">
                    <h4>Pure CSS slider Content</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </div>
            </li>
            <li>
                <div class="slider-container">
                    <h4>Pure CSS slider Content</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="bt">
        <a href="calculator" class="button4"><i class="fa fa-facebook"></i>Go to Calculator</a>
    </div>

    <!-- White Button -->
    <!--  Start Second Button  -->

    <!--  End Second Button  -->


</section>




<script th:src="@{/js/slider.js}"></script>
</body>
</html>